body{
    text-align:center;
    background-color:pink;
}

h2{
  border:double blue 3px ;
}

h1{
    text-align: center; 
    color:purple; 
    border-style: double 3px;
    background-color:lightblue;
}
