body{
    text-align:center;
    background-color:#CDCDCD;
    color:black;
    border: double black 3px;
}



h1{
    text-align: center; 
    color:white; 
    border: double black 3px;
    background-color:grey;
}

.contacts{
color:purple;
border: double black 3px;
}
